In [25]:
import pandas as pd
import csv

In [26]:
def fix_csv(input_file, output_file):
    with open(input_file, 'r', newline='', encoding='ANSI') as infile, \
         open(output_file, 'w', newline='', encoding='ANSI') as outfile:
        
        reader = csv.reader(infile)
        writer = csv.writer(outfile, quoting=csv.QUOTE_MINIMAL)
        
        for row in reader:
            fixed_row = []
            for field in row:
                # Ensure fields with quotes are properly closed
                if field.count('"') % 2 != 0:
                    field += '"'
                # Replace single quotes with escaped quotes
                field = field.replace("'", "''")
                fixed_row.append(field)
            writer.writerow(fixed_row)

# Replace 'input.csv' and 'output.csv' with your file paths
fix_csv('Sales_Datasets.csv', 'Fixed_Datasets_CR.csv')

In [27]:
try:
    df_data = pd.read_csv('Fixed_Datasets_CR.csv', encoding='ANSI')
    print("CSV file loaded successfully.")
    print(df_data.head(2))
except Exception as e:
    print(f"An error occurred while loading the CSV file: {e}")

CSV file loaded successfully.
   Row ID        Order ID Order Date   Ship Date  Delivery Duration  \
0       1  CA-2016-152156  11/8/2016  11/11/2016                  3
1       2  CA-2016-152156  11/8/2016  11/11/2016                  3

      Ship Mode Customer ID Customer Name   Segment        Country  ...  \
0  Second Class    CG-12520   Claire Gute  Consumer  United States  ...
1  Second Class    CG-12520   Claire Gute  Consumer  United States  ...

        Product ID   Category  Sub-Category  \
0  FUR-BO-10001798  Furniture     Bookcases
1  FUR-CH-10000454  Furniture        Chairs

                                        Product Name   Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.96        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94        3

  Discount Discount Value    Profit      COGS
0      0.0            0.0   41.9136 -220.0464
1      0.0            0.0  219.5820 -512.3580

[2 rows x 24 columns]

In [7]:
# Check the shape of the DataFrame
print(f"DataFrame shape: {df_data.shape}")
# Optionally, check for missing values or other anomalies
print(df_data.isnull().sum())

DataFrame shape: (9994, 24)
Row ID               0
Order ID             0
Order Date           0
Ship Date            0
Delivery Duration    0
Ship Mode            0
Customer ID          0
Customer Name        0
Segment              0
Country              0
City                 0
State                0
Postal Code          0
Region               0
Product ID           0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Discount Value       0
Profit               0
COGS                 0
dtype: int64

In [28]:
df_data.head(2)

,Row ID,Order ID,Order Date,Ship Date,Delivery Duration,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Discount Value,Profit,COGS
0,1,CA-2016-152156,11/8/2016,11/11/2016,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,0.0,41.9136,-220.0464
1,2,CA-2016-152156,11/8/2016,11/11/2016,3,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,0.0,219.5820,-512.3580

In [46]:
df_data.duplicated().sum()

0

In [48]:
df_data.isnull().sum()

Row ID               0
Order ID             0
Order Date           0
Ship Date            0
Delivery Duration    0
Ship Mode            0
Customer ID          0
Customer Name        0
Segment              0
Country              0
City                 0
State                0
Postal Code          0
Region               0
Product ID           0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Discount Value       0
Profit               0
COGS                 0
dtype: int64

In [10]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row ID             9994 non-null   int64
 1   Order ID           9994 non-null   object
 2   Order Date         9994 non-null   object
 3   Ship Date          9994 non-null   object
 4   Delivery Duration  9994 non-null   int64
 5   Ship Mode          9994 non-null   object
 6   Customer ID        9994 non-null   object
 7   Customer Name      9994 non-null   object
 8   Segment            9994 non-null   object
 9   Country            9994 non-null   object
 10  City               9994 non-null   object
 11  State              9994 non-null   object
 12  Postal Code        9994 non-null   int64
 13  Region             9994 non-null   object
 14  Product ID         9994 non-null   object
 15  Category           9994 non-null   object
 16  Sub-Category       9994 non-null   object
 17  Product Name       9994 non-null   object
 18  Sales              9994 non-null   float64
 19  Quantity           9994 non-null   int64
 20  Discount           9994 non-null   float64
 21  Discount Value     9994 non-null   float64
 22  Profit             9994 non-null   float64
 23  COGS               9994 non-null   float64
dtypes: float64(5), int64(4), object(15)
memory usage: 1.8+ MB

In [34]:
df_data['Order ID'].duplicated().sum()

4985

In [29]:
products_df = df_data[['Order ID','Product ID', 'Category', 
                       'Sub-Category', 'Product Name']]

In [67]:
products_df.head()

,Order ID,Product ID,Category,Sub-Category,Product Name
0,CA-2016-152156,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,CA-2016-152156,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,CA-2016-138688,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,US-2015-108966,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,US-2015-108966,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System

In [30]:
date_df = df_data[['Order ID', 'Order Date', 
                   'Ship Date', 'Delivery Duration']]

In [53]:
date_df.head(2)

         Order ID Order Date   Ship Date  Delivery Duration
0  CA-2016-152156  11/8/2016  11/11/2016                  3
1  CA-2016-152156  11/8/2016  11/11/2016                  3

In [31]:
order_df = df_data[['Order ID', 'Ship Mode', 'Customer ID', 'Product ID', 'Sales', 'Quantity', 
                    'Discount', 'Discount Value', 'Profit', 'COGS']]

In [55]:
order_df.head(2)

,Order ID,Ship Mode,Customer ID,Product ID,Sales,Quantity,Discount,Discount Value,Profit,COGS
0,CA-2016-152156,Second Class,CG-12520,FUR-BO-10001798,261.96,2,0.0,0.0,41.9136,-220.0464
1,CA-2016-152156,Second Class,CG-12520,FUR-CH-10000454,731.94,3,0.0,0.0,219.5820,-512.3580

In [32]:
customer_df = df_data[['Order ID', 'Customer ID', 'Customer Name', 
                       'Segment', 'Country', 'City', 'State', 'Region', 'Postal Code']]

In [57]:
customer_df.head(2)

,Order ID,Customer ID,Customer Name,Segment,Country,City,State,Region,Postal Code
0,CA-2016-152156,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,42420
1,CA-2016-152156,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,42420

In [33]:
products_df.to_csv('DATA_PRODUCTS_CRR.csv', index=False)
date_df.to_csv('DATA_DATE_CRR.csv', index=False)
order_df.to_csv('DATA_ORDER_CRR.csv', index=False)
customer_df.to_csv('DATA_CUSTOMERS_CRR.csv', index=False)